@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,300&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(237, 237, 237);
    overflow-x: hidden;
    box-sizing: border-box;
}

:root {
    --load-Color: rgb(199, 1, 199);
    --basic-font-color: rgb(237, 237, 237);
    --list-background: #e1e1e112;
}

body {
    background-color: rgb(78, 74, 87);
}


/* PRESENTACION */

.presentacion {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
}

.presentacion button {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 800;
    padding: .25rem;
    border-radius: .25rem;
    border: none;
}

.presentacion button:hover {
    background: var(--load-Color)
}

.presentacion__texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.presentacion__texto>h1~p {
    padding: 2rem;
}


/* CHAT */

.wraper_chat {
    height: 30vh;
    width: 60vw;
    overflow: scroll;
    overflow-x: unset;
    padding: 0 2rem;
    text-align: start;
    font-size: 1.3rem;
    font-weight: 700;
    border: #666666;
    border-radius: .25rem;
}

.list__item {
    background: var(--list-background);
    margin-top: .5rem;
    padding: .2rem .5rem;
    border-radius: .2rem;
}


/* LOAD SCREeN */

#load {
    width: 100vw;
    height: 100vh;
    background: var(--load-Color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: .75rem;
    color: var(--basic-font-color);
    z-index: 99999;
}


/* LOADER */

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fed;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}


/* FORM CHAT */

.form__chat {
    padding-top: 1rem;
}

#chat__inputs {
    display: none;
}

#chat__inputs input {
    background: var(--list-background);
    color: #e1e1e1;
    font-weight: 1000;
    border: none;
}


/* SCROLLS */

 ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

 ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

 ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

 ::-webkit-scrollbar-thumb:active {
    background: #000000;
}

 ::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}

 ::-webkit-scrollbar-track:hover {
    background: #666666;
}

 ::-webkit-scrollbar-track:active {
    background: #333333;
}

 ::-webkit-scrollbar-corner {
    background: transparent;
}